<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225798047565-vsfl15hmitbiq36thq8d6h7auihcl30j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225798047565-vsfl15hmitbiq36thq8d6h7auihcl30j</string>
	<key>API_KEY</key>
	<string>AIzaSyCqSsf-84OaBlS5e-jOofpQpYUqcogvqYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>225798047565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.renankanu.ottisPet</string>
	<key>PROJECT_ID</key>
	<string>ottis-pet</string>
	<key>STORAGE_BUCKET</key>
	<string>ottis-pet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225798047565:ios:a11786870be85ec65b9904</string>
</dict>
</plist>